.flex-container{
    display: flex;
    background-color: yellowgreen;
    border: dotted black;
    justify-content: space-between;
    flex-grow: 1;
    margin: 10px;
    font-size: xx-large;
    padding: 10px;
}

.flex-container-2{
    display: flex;
    background-color: blueviolet;
    border: dashed black;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
    font-size: xx-large;
    padding: 10px;
}